---
import { permalink } from '@src/utils/permalink'
import Base from '@src/layouts/Base.astro'
import TagCloud from '@src/components/blog/TagCloud.astro'

const title = '404: Page Not Found'
const description = 'That page could not be found.'
---

<Base {title} {description}>
  <header slot="before-breadcrumbs"><h1>{title}</h1></header>
  <p>The page you were looking for could not be found!</p>
  <p>Try the <a href={permalink.base('')}>Home page</a> or <a href={permalink.base('blog')}>visit the Blog</a></p>
  <TagCloud limit={10} title="Popular Tags" />
</Base>

<style>
  header {
    padding: 16px;
  }

  header h1 {
    margin: 0;
  }
</style>
